body {
	background-image: url("../images/star_wars_xwing.jpg");
	background-size: auto auto;
	background-repeat: no-repeat;
	background-position: center;

}

.charSelected {
	border: 2px solid blue;
	max-width: 250px;
	text-align: center;
}

.enemyOption, .enemyDef {
	border: 2px solid red;
	max-width: 250px;
	text-align: center;
}